<h1>Listing Agencias</h1>

<table>
  <thead>
    <tr>
      <th>Agencias</th>
    </tr>
  </thead>

  <tbody>
    <% @agencias.each do |ag| %>
      <tr>
        <td><%= ag[:razaoSocial] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>