<h1>Listing Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @status["statuses"].each do |st| %>
      <tr>
        <td><%= st %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>